.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebarContainer{
    position: absolute;
    left:0;
    top:50%;
}