.navbar{
    width:250px;
    float:left;
    display: flex;
    align-items: center;
    text-align: center;
    height:100%;
    
}

.links{
    position: relative;
    margin: 0 auto;
    color:#8313DD;
    font-weight: 700;
    font-size: 24px;
    
}